.cabecera__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cabecera__buscar__item {
  display: none;
}

.rodapie__container {
  display: flex;
  /* flex-direction: column;
  flex-wrap: wrap; */
  flex-flow: column wrap;
}

.superior__seccion__container {
  display: flex;
  align-items: center;
  white-space: nowrap;
  overflow: scroll;
  gap: 15px;
}

.menu__container {
  position: fixed;
  bottom: 0%;
  height: 75px;
  width: 100%;
}

.menu__lista {
  display: flex;
  justify-content: space-around;
  height: 100%;
}

.menu__lista li {
  align-self: center;
}

.menu__itens {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.menu__lista :nth-child(2),
.menu__lista :nth-child(3),
.menu__lista :nth-child() {
  display: none;
}

@media (min-width: 834px) {
  .cabecera__buscar__item {
    display: block;
  }
  .rodapie__container {
    justify-content: space-between;
  }
  .menu__container {
    width: 75px;
    height: 90%;
  }
  .menu__lista {
    flex-direction: column;
    height: 100%;
    justify-content: flex-start;
    align-items: center;
    gap: 40px;
  }
}
